@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #680aa7;
  --foreground: #ebebeb;
}



html {
  scroll-behavior: smooth;
}

section {
  background: var(--background);
  color: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
